body {
    background-color: #f2f2f2 !important;

    overflow: hidden;
}

.main-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: url("../img/wallpaper3.jpg");
    background-position: center;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 550px) {
    .main-image {
        width: 550px;
    }
}
@media (max-width: 550px) {
    .main-image {
        width: 100%;
    }
}

.countdown-title {
    color: white;
    font-weight: 100;
    font-size: 21px;

    opacity: 0.8;
}

.countdown {
    width: 350px;

    position: absolute;
    top: 1rem;
    right: 0;
    left: 0;

    margin-left: 0;
    margin-right: 0;

    font-family: clockicons,sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 16px;
}

.countdown-number {
    padding: 0 10px;
    border-radius: 3px;
    /*background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);*/
    display: inline-block;

    opacity: 0.8;
}

.timer-number {
    font-size: 40px;
}

.countdown-time {
    padding: 0 15px;
    border-radius: 3px;
    /*background-image: linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%);*/
    display: inline-block;
}

.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
}

.main-text {
    position: absolute;

    right: 0;
    left: 0;

    transform: translateY(90px);

    margin-left: 1rem;
    margin-right: 1rem;

    padding: 1rem;

    border-radius: 25px;

    background-color: rgba(62, 62, 62, 0.6);

    /*text-indent: 1.5em;*/
    font-size: 21px;
    font-weight: bold;
    line-height: 1.4;

    text-align: center;

    font-family: Helvetica,sans-serif;

    color: #e1e1e1;

    opacity: 0.9;
}

.present-wrap {
    display: flex;
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;

    height: 200px;

    margin-left: auto;
    margin-right: auto;

    justify-content: center;
    align-items: end;

}
.present {
    background-image: url("../img/present-4.png");
    background-size: cover;

    width: 200px;
    height: 200px;

    transition: all .8s ease;
}
/*.present:hover {*/
/*    transform: scale(1.5) rotate(400deg);*/
/*}*/


/* popup */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 180px;
    height: 40px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
    position: absolute;
    z-index: 1;

    font-size: 21px;

    bottom: 0;
    right: 10px;

    margin-left: -80px;

    opacity: 0.9;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 0.9;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:0.9;}
}