body {
    background-color: #f2f2f2 !important;

    max-width: 375px;
    max-height: 667px;
    overflow: hidden;
}

.main-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-position: center;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;

    width: 375px !important;
    height: 667px !important;

    transition: all ease 5s;
}

/*@media (min-width: 550px) {*/
/*    .main-image {*/
/*        width: 375px;*/
/*        height: 667px;*/
/*    }*/
/*}*/
/*@media (max-width: 550px) {*/
/*    .main-image {*/
/*        width: 100%;*/
/*    }*/
/*}*/

.countdown-title {
    color: white;
    font-weight: 100;
    font-size: 21px;

    opacity: 0.8;
}

.countdown {
    width: 100%;

    position: absolute;
    top: 1rem;
    right: 0;
    left: 0;

    margin-left: 0;
    margin-right: 0;

    /*font-family: clockicons,sans-serif;*/
    font-family: Helvetica,sans-serif;
    font-weight: 400;

    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 16px;
}

.countdown-number {
    padding: 0 10px;
    border-radius: 3px;
    /*background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);*/
    display: inline-block;

    opacity: 0.8;
}

.timer-number {
    font-size: 40px;
}

.countdown-time {
    padding: 0 15px;
    border-radius: 3px;
    /*background-image: linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%);*/
    display: inline-block;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.main-text {
    position: absolute;

    width: 316px;

    right: 0;
    left: 0;

    transform: translateY(90px);

    margin-left: auto;
    margin-right: auto;

    padding: 1rem;

    border-radius: 25px;

    background-color: rgba(196, 196, 196, 0.25);

    /*text-indent: 1.5em;*/
    font-size: 21px;
    font-weight: bold;
    line-height: 1.4;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);

    text-align: center;

    font-family: Helvetica,sans-serif;

    color: #fff;

    opacity: 0.9;
}

.present-wrap {
    display: flex;
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;

    height: 200px;

    margin-left: auto;
    margin-right: auto;

    justify-content: center;
    align-items: end;

}
.present {
    position: absolute;
    top: 0;
    left: 105px;

    background-image: url("../img/present-5.png");
    background-size: cover;

    width: 150px;
    height: 150px;

    transition: all .8s ease;
}
/*.present:hover {*/
/*    transform: scale(1.5) rotate(400deg);*/
/*}*/


/* popup */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    /*visibility: hidden;*/
    width: 180px;
    height: 40px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
    position: absolute;
    z-index: 1;

    font-size: 21px;

    bottom: 0;
    left: -94px;

    transition: opacity ease 1s;

    opacity: 0;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
/*.popup .show {*/
/*    !*visibility: visible;*!*/
/*    -webkit-animation: fadeIn 1s;*/
/*    animation: fadeIn 1s;*/
/*}*/

.glow {
    position: absolute;
    top: -30px;

    margin-left: auto;
    margin-right: auto;

    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,0) 100%);
    width: 206px;
    height: 206px;
    opacity: 1;
    border-radius: 50%;
}


/*!* Add animation (fade in the popup) *!*/
/*@-webkit-keyframes fadeIn {*/
/*    from {opacity: 0;}*/
/*    to {opacity: 0.9;}*/
/*}*/

/*@keyframes fadeIn {*/
/*    from {opacity: 0;}*/
/*    to {opacity:0.9;}*/
/*}*/
