<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<div th:replace="parts/common.html :: headerfiles"></div>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="container">
        <div class="main-image">
            <div id="countdown" class="countdown">
<!--                <h1 class="countdown-title">Подарок можно открыть через</h1>-->
                <div class="countdown-number">
                    <span class="days countdown-time"></span>
                </div>
            </div>

            <div class="present">

            </div>
        </div>
    </div>

    <script src="js/snowfall.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(document).snowfall({image :"img/2.png", minSize: 10, maxSize:20});
        });

        function getTimeRemaining(endtime) {
            var t = Date.parse(endtime) - Date.parse(new Date());
            var seconds = Math.floor((t / 1000) % 60);
            var minutes = Math.floor((t / 1000 / 60) % 60);
            var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
            var days = Math.floor(t / (1000 * 60 * 60 * 24));
            return {
                'total': t,
                'days': days,
                'hours': hours,
                'minutes': minutes,
                'seconds': seconds
            };
        }

        function initializeClock(id, endtime) {
            var clock = document.getElementById(id);
            var daysSpan = clock.querySelector('.days');
            var hoursSpan = clock.querySelector('.hours');
            var minutesSpan = clock.querySelector('.minutes');
            var secondsSpan = clock.querySelector('.seconds');

            function updateClock() {
                var t = getTimeRemaining(endtime);

                daysSpan.innerHTML =
                    "<span class='timer-number'>" + t.days + "</span> д. " +
                    "<span class='timer-number'>" + ('0' + t.hours).slice(-2) +   "</span> ч. " +
                    "<span class='timer-number'>" + ('0' + t.minutes).slice(-2) + "</span> м. " +
                    "<span class='timer-number'>" + ('0' + t.seconds).slice(-2) + "</span> сек.";
                // hoursSpan.innerHTML = ('0' + t.hours).slice(-2) + " ч.";
                // minutesSpan.innerHTML = ('0' + t.minutes).slice(-2) + " мин.";
                // secondsSpan.innerHTML = ('0' + t.seconds).slice(-2) + " сек.";

                if (t.total <= 0) {
                    clearInterval(timeinterval);
                }
            }

            updateClock();
            var timeinterval = setInterval(updateClock, 1000);
        }

        var deadline="January 01 2021 00:30:00 GMT+0300";
        var deadline = new Date(deadline);
        initializeClock('countdown', deadline);

        $(".present").on("click", function () {

        });
    </script>
</body>
</html>