<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<div th:replace="parts/common.html :: headerfiles"></div>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="container">
        <div class="main-image">
            <div id="countdown" class="countdown">
                <div class="countdown-number">
                    <span class="days countdown-time"></span>
                </div>
            </div>

            <div class="main-text">
                Скоро можно будет открыть подарок<br> &#128157;&#127876;&#127873;&#127876;&#128157;
            </div>


            <div class="present-wrap">
                <div class="glow"></div>
                <div class="popup">
                    <span class="popuptext" id="myPopup">Осталось совсем чуть-чуть &#128525;</span>
                </div>

                <div class="bunny"
                     style="
                        position: absolute;
                        top: 18px;
                        left: 127px;

                        background-image: url('static/img/bunny.png');
                        background-size: cover;

                        width: 110px;
                        height: 110px;

                        z-index: 0"></div>
                <div class="box-bottom"
                     style="
                        position: absolute;
                        top: 18px;
                        left: 127px;

                        background-image: url('static/img/box-bottom.png');
                        background-size: cover;

                        width: 110px;
                        height: 110px;

                        z-index: -1;

                        transition: all .8s ease;"></div>
                <div class="present animate__animated animate__pulse animate__infinite"></div>
            </div>
        </div>
    </div>

    <script src="js/snowfall.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>