<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<div th:replace="parts/common.html :: headerfiles"></div>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="container">
        <div class="main-image">
            <div id="countdown" class="countdown">
                <div class="countdown-number">
                    <span class="days countdown-time"></span>
                </div>
            </div>

            <div class="main-text">
                Любимая, здесь спрятан твой подарок на новый год, но открыть ты его сможешь только когда истечет таймер &#128519;&#127876;&#127873;
            </div>


            <div class="present-wrap">
                <div class="glow"></div>
                <div class="popup">
                    <span class="popuptext" id="myPopup">Ещё рано &#128536;</span>
                </div>
                <div class="present animate__animated animate__pulse animate__infinite"></div>
            </div>
        </div>
    </div>

    <script src="js/snowfall.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>